all:
  children:
    docker:
      hosts:
        docker-srv-mgm:
          ansible_host: 192.168.178.20
          ansible_user: soniiit
          ansible_ssh_private_key_file: id_rsa
          ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
        docker-srv-01:
          ansible_host: 192.168.178.21
          ansible_user: soniiit
          ansible_ssh_private_key_file: id_rsa
          ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
        docker-srv-02:
          ansible_host: 192.168.178.22
          ansible_user: soniiit
          ansible_ssh_private_key_file: id_rsa
          ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
    appserver:
      hosts:
        app-srv-01:
          ansible_host: 192.168.178.30
          ansible_user: soniiit
          ansible_ssh_private_key_file: id_rsa
          ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
        app-srv-02:
          ansible_host: 192.168.178.4
          ansible_user: soniiit
          ansible_ssh_private_key_file: id_rsa
          ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
        app-srv-03:
          ansible_host: 192.168.178.3
          ansible_user: soniiit
          ansible_ssh_private_key_file: id_rsa
          ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
    twingate-connector:
      hosts:
        twingate-connector-01:
          ansible_host: 192.168.178.11
          ansible_user: soniiit
          ansible_ssh_private_key_file: id_rsa
          ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
    github-agent:
      hosts:
        github-agent-01:
          ansible_host: 192.168.178.34
          ansible_user: soniiit
          ansible_ssh_private_key_file: id_rsa
          ansible_ssh_common_args: '-o StrictHostKeyChecking=no'

  vars:
    ansible_ssh_private_key_file: "id_rsa"
