id: Docker-Clean-Up
namespace: ansible
labels:
  Project: Homelab
  Mode: Auto

tasks:
- id: setup
  type: io.kestra.core.tasks.flows.WorkingDirectory
  tasks:
  - id: local_files
    type: io.kestra.core.tasks.storages.LocalFiles
    inputs:
      inventory.yaml: "{{ read('inventory.yaml') }}"
      docker-clean-up.yaml: "{{ read('docker-clean-up.yaml') }}"
      id_rsa: "{{ secret('SSH_KEY') }}"

  - id: ansible_task
    type: io.kestra.plugin.ansible.cli.AnsibleCLI
    docker:
      image: cytopia/ansible:latest-tools
      pullPolicy: IF_NOT_PRESENT
      user: "1000"
    commands:
    - ansible-playbook -i inventory.yaml --key-file id_rsa docker-clean-up.yaml

triggers:
- id: daily_docker_clean_up
  type: io.kestra.core.models.triggers.types.Schedule
  cron: "0 21 * * *"

disabled: false
